<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">
        <meta name="description" content="<%= data.metaDescription %>">
        <meta name="author" content="<%= data.metaAuthor %>">
        <title><%= data.title %></title>
        <!-- Bootstrap core CSS -->
        <link href="<%= pathAsset %>bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="<%= pathAsset %>assets/css/style.css" rel="stylesheet">
        <link href="<%= pathAsset %>assets/css/jquery.scrollbar.css" rel="stylesheet">
        <link href="<%= pathAsset %>assets/css/github-markdown.css" rel="stylesheet">
    </head>
    <body class="body">
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light text-body "><%= data.appName %>
            <br> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler58" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse ml-lg-4" id="navbarToggler58">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
                    <li class="nav-item"> 
                        <a class="nav-link active" href="/">Home</a> 
                    </li>                     
					<li class="nav-item"> 
                        <a class="nav-link" href="/papers">Papers</a> 
                    </li>      
                    <li class="nav-item"> 
                        <a class="nav-link" href="/creator">Create Article</a> 
                    </li>         
                    <li class="nav-item"> 
                        <a class="nav-link" href="/user">Dashboard</a> 
                    </li>                         
                </ul>
                <!--<form class="form-inline my-2 my-lg-0"> 
                    <input class="form-control mr-sm-2 text-left font-italic border-dark" type="text" placeholder="Insert Query" aria-label="Search"> 
                    <button class="btn my-2 my-sm-0 btn-light btn-outline-dark" type="submit">Search</button>                     
                </form>-->
            </div>
        </nav>
        <div class="row flex-row d-flex badan m-lg-auto m-xl-auto">
            <div class="intronya">
                <article class="markdown-body introarticle">
                    <h1 class="aboutjudul">About</h1>
                    <blockquote><%= data.intro %></blockquote>
                </article>
                <center>
                    <a class="btn btn-info cobabuatbutton" href="#">Start Yours</a>
                </center>
            </div>
        </div>
        <!-- Footer -->
        <footer class="fixed-bottom mt-auto page-footer font-small blue pt-4 mt-5 bg-secondary">
            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">
                        <!-- Content -->
                        <h5 class="text-uppercase text-white"><%= data.footer.title %></h5>
                        <p class="text-white"><%= data.footer.desc %></p>
                    </div>
                    <!-- Grid column -->
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">
                        <!-- Links -->
                        <h5 class="text-uppercase text-light">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="<%= data.link[0].href %>" class="text-white"><%= data.link[0].title %></a>
                            </li>
                            <li>
                                <a href="<%= data.link[1].href %>" class="text-white"><%= data.link[1].title %></a>
                            </li>
                            <li>
                                <a href="<%= data.link[2].href %>" class="text-white"><%= data.link[2].title %></a>
                            </li>
                            <li>
                                <a href="<%= data.link[3].href %>" class="text-white"><%= data.link[3].title %></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 bg-dark text-white">© 2018 Copyright&nbsp;
                <a href="#" class="text-info">GoogleX</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        <script src="<%= pathAsset %>assets/js/jquery.min.js"></script>
        <script src="<%= pathAsset %>assets/js/popper.js"></script>
        <script src="<%= pathAsset %>bootstrap/js/bootstrap.min.js"></script>
        <script src="<%= pathAsset %>assets/js/jquery.scrollbar.js"></script>
        <script>
    $(function() {
    $('[data-toggle="tooltip"]').tooltip();
})
</script>
        <script>
    $(function() {
    $('[data-toggle="popover"]').popover();
})
</script>
        <script>
            jQuery(document).ready(function(){
        jQuery('.scrollbar-macosx').scrollbar();
    });</script>
    </body>
</html>
